%h1 Account Removed
:markdown
	Your account has been completely removed. Nothing remains on our systems which relates to you!
	
	**Emails to your @dayone.byJP.me address will not become journal entries!**
	
	NB. You can sign up again, but the email address you will need to use will have changed.
