%ul#nav
	%li
		%a{:href=>'/login'} Log In / Sign Up with Dropbox
		
.center
	%p A crazily simple service allowing you to email yourself [Day One](http://dayoneapp.com) journal entries.

%a.center{:href=>'/login'}
	%img{:src=>'/img/signin_with_dropbox.png'}