%h1 Email DayOne
:markdown
	This is a service which will allow you to update your DayOne journal in your Dropbox.

%h2 Log in / Sign up

%a{:href=>'/login'}
	%img{:src=>'/img/signin_with_dropbox.png'}