!!! 5
%html
	%head
		%title Email DayOne
		%link{:href=>"/css/default.css",:media=>"screen",:rel=>"stylesheet",:type=>"text/css"}
	%body
		#content
			%h1 	
				%img{:src=>'/img/header.png',:alt=>'Day One by Mail'}
			=yield
			%hr

			.center{:style=>'color:#bbb;'}
				:markdown
					This service was made [by JP](http://byJP.me) and is hosted on [heroku](http://heroku.com). You can find the source code [on github](https://github.com/jphastings/Email-DayOne).

					Your emails are communicated to heroku via SSL and are not kept.

					We **never** email you. Period.
					
					[report bugs here](https://github.com/jphastings/Email-DayOne/issues)