!!! 5
%html
	%head
		%title Email DayOne
		%link{:href=>"/css/default.css",:media=>"screen",:rel=>"stylesheet",:type=>"text/css"}
	%body
		#content
			%h1 	
				%img{:src=>'/img/header.png',:alt=>'Day One by Mail'}
			=yield