%ul#nav
	%li
		%a{:href=>'/'} Back Home
		
%h1 Erk! There's been a balls-up
:markdown
	We went hunting around in your DropBox to find your Day One journal, but we couldn't find it! Are you sure you have DropBox synchronisation switched on? [Try the Day One FAQ](http://dayoneapp.com/faq/#howdoyousetupsync).