%h1 How to Use
%a#send_to{:src=>"mailto:#{@user.incoming_key}@dayone.byjp.me"}="#{@user.incoming_key}@dayone.byjp.me"

%h2 Registered Email addresses for this account
%ul
-@user.emails.each do |e|
	%li=e.email