%ul#nav
	%li
		%a{:href=>'/logout'} Logout
	%li
		%a{:href=>'/delete'} Delete Account

%h1 Ready for Action

.center#send_to
	Email your DayOne Journal entries to:
	%a{:href=>"mailto:#{@user.incoming_key}@dayone.byjp.me"}="#{@user.incoming_key}@dayone.byjp.me"
	
%ol
	%li
		Send an email to this address (<em>keep it secret!</em>), from one of your registered addresses and the body of the email will be turned into a DayOne journal in your DropBox.
	%li
		Flag your email as High Priority and it'll come into your journal starred.
	%li
		The subject line will become tags for your entry (space seperated)

%h2 Registered Email addresses for this account
%ul#emails
	-@user.emails.each do |e|
		%li
			%a{:href=>"/settings?email=#{URI.escape(e.email)}&action=remove",:title=>'Disallow journal entries from this address'}=e.email
	%li#add_email
		%form
			%input{:type=>'text',:name=>'email',:style=>'width:200px'}
			%input{:type=>'hidden',:name=>'action',:value=>'add'}
			%input{:type=>'submit',:value=>'add new email'}