body {
	font-family:garamond, serif;
	margin:0;
}

h1 {
	text-align:center;
}

.center {
	display:block;
	width:100%;
	text-align:center;
}

#send_to {
	width:auto;
	text-align:center;
	padding:12px 25px;
	background-color:#f0fff0;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	font-size:24px;
}

#content {
	width:720px;
	margin-left:auto;
	margin-right:auto;
}

#nav {
	position:fixed;
	top:0;
	right:0;
	margin:10px;
	list-style:none;
	padding:none;
	text-align:right;
}

a {
	text-decoration:none;
	color:#339f00;
}

a:hover {
	text-decoration:underline;
	color:#136f00;
}

.hush {
	color:#aaa;
	font-style:italic;
}

hr {
	height:5px;
	margin:40px;
}

#add_email {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}

#add_email:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

#emails li {
	margin: 5px;
}

#emails a {
	color: #000;
	padding-right:16px;
}

#emails a:hover {
	color: #c60d12;
	background:url('/img/remove.png') right center no-repeat;
}